<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>

  <header>
    <% include partials/_header %>
  </header>
<% if(id === undefined) { %>
<p>Please login first!</p>
<% } else { %>

  <p>
    <ul>
      <% for(var index in urls) { %>
        <li>
          <%= index %> <%= urls[index]["url"] %> <%= urls[index]["user_id"] %>
          <form method="POST" action="/urls/<%= index %>/delete">
            <button type="submit">Delete</button>
          </form>
          <a href="/urls/<%= index %>"> Edit </a>
        </li>
      <% } %>
    </ul>
  </p>

 <a href= "/urls/new">Click to shorten URL</a>

 <% } %>

</body>

</html>